*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
compiler.xml
gradle*
misc.xml
modules/xml
profiles_settings.xml
runConfigurations.xml
vcs.xml
credentials
*.bin
*.lock