*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
libs/
compiler.xml
gradle*
misc.xml
modules/xml
profiles_settings.xml
runConfigurations.xml
vcs.xml
credentials
*.bin
*.lock
.gradle/
app/src/main/Resources/
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
